.modalBlock{
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
.food{
    margin-top: 2rem;
    text-align: center;
}
.modalLeft{
    width: 50%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:0.5rem ;
}
.modalRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.numberOfSpoons{
    background-color: #09546F;
    width:90%;
    color: white;
    border-radius: 0.5rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.modalRight button{
    cursor: pointer;
    border: none;
}
.addToCart, .addMore{
    width: 90%;
    cursor: pointer;
    background-color:#09546F;
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
}
.price{
    background-color:#09546F;
    width: 90%;
    padding: 0.7rem;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
}
.increment{
    background-color:#518CC2;
    width: 15%;
    border-radius: 0.5rem 0 0 0.5rem;
    padding:0 ;
    font-size: 2.2rem;
    color: black;
}
.decrement{
    background-color:#518CC2;
    width: 15%;
    border-radius: 0 0.5rem 0.5rem 0;
    padding:0 ;
    font-size: 2.2rem;
    color: black;
}
@media screen and (max-width:600px) {
    .modalBlock{
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
    }
    .modalLeft{
        width: 85%;
        height: 150px;
    }
    .modalRight{
        width: 80%;
    }
}