.cart{
    width: 90%;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    margin: auto;
    grid-gap:3em;
    align-items: flex-start;
    padding-top: 4rem;
}
.cart ul{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 2rem;
}
.defaultStatement{
    margin: 4rem 0;
    text-align: center;
}
.cartTotal{
    margin-top: 2rem;
}
.cartTotal span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.cartTotal span span{
    font-weight: 600;
    font-size: 2rem;
}
.actions{
    width: 100%;
    margin: 2.3rem auto 10rem auto;
}
.actions button{
    text-align: center;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: #09546F;
    border-radius: 0.5rem;
    max-width: 150px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.cartLeft{
    padding-right: 3em;
    border-right: 2px solid black;
}
.accountBlock{
    background-color:#09546F;
    padding: 2rem;
    margin-top: 1rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
    border-radius: 0.5rem;
}
.accountBlock h3, button{
    color: white;
}
.upload{
    width:100%;
    max-width: 200px;
    margin: auto;
}
.upload button{
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    background-color:#09546F;
    border:none;
    border-radius:0.5rem;
    margin-top: 1rem;
    cursor:pointer
}
@media screen and (max-width: 700px) {
    .cart{
        grid-template-columns: unset;
        grid-gap: unset
    }
    .cartLeft{
        border-right: unset;
        width: 100%;
        padding-right: unset;
        max-width: 400px;
        margin: auto;
    }
    .cartRight{
        text-align: center;
        margin-bottom:10em;
    }
    .actions{
        margin: 1.3rem auto 6rem auto;
    }
    .actions button{
        margin:auto;
    }
}
@media screen and (max-width:880px){
    .actions{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap:0.6rem;
    }
    .actions button{
        margin: auto;
    }
}