.cafSection{
    width: 90%;
    max-width: 1000px;
    margin: 4em auto;
    text-align: center;
}
.cafSection p{
    margin-top: 0.5em;
    font-weight: 600;
}
.cafs{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.glory{
    background-image: url(../../../Assets/Images/glory-caf.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.forza{
     background-image: url(../../../Assets/Images/forza-caf.jpg);
     background-position: center 30%;
     background-size: cover;
     background-repeat: no-repeat;
}
.sumptuous{
     background-image: url(../../../Assets/Images/sumptuous-caf.jpg);
     background-position: center 80%;
     background-size: cover;
     background-repeat: no-repeat;
}
.kemiBee{
     background-image: url(../../../Assets/Images/kemi-bee-caf.jpg);
     background-position: center 20%;
     background-size: cover;
     background-repeat: no-repeat;
}
.divine{
     background-image: url(../../../Assets/Images/divine-caf.jpg);
     background-position: center 30%;
     background-size: cover;
     background-repeat: no-repeat;
}
.jubilee{
     background-image: url(../../../Assets/Images/jubilee-caf.jpg);
     background-position: center 60%;
     background-size: cover;
     background-repeat: no-repeat;
}
.bbsf{
     background-image: url(../../../Assets/Images/bbsf-caf.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
}
.buwa{
     background-image: url(../../../Assets/Images/buwa-caf.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
}
.blessed{
     background-image: url(../../../Assets/Images/blessed-caf.jpg);
     background-position: center 100%;
     background-size: cover;
     background-repeat: no-repeat;
}
.y2k{
     background-image: url(../../../Assets/Images/y2k-caf.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
}
.caf{
    padding: 5rem;
    cursor: pointer; 
    border-radius: 0.5rem;
}
.cafBlock{
    width: 30%;
    text-align: center;
}
@media screen and (max-width:600px) {
    .cafs{
        flex-direction: column;
    }
    .cafBlock{
        width: 70%;
    }
}