.homePage{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #518CC2;
}
.pageContent{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 4rem;
    transform: translate(-50%,-50%);
}
.homeLogo{
    width: 100%;
}
.authButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.authButton a{
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    width: 100%;
    max-width: 200px;
    color: white;
    background-color: #09546F;
    text-align: center;
}
@media screen and (max-width:500px) {
    .authButton{
        flex-direction: column;
        gap: 0.5em;
    }
}